#nav-top {
	background-color: black !important;
	z-index: 1;
}
nav a {
	color: white;
}
body {
	background-color: #F2F2F2
}

img {
	width: 100%;
}
.row_div {
    background-color: white;
    margin: 10px;
}
.wrapper {
    width: 100%;
}

#book-row-container {
    height: 680px;
}
.book-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 10px 100px lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}
.book-card:hover {
	box-shadow: 0px 0px 0px;
	cursor: pointer
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}



.rel-books-wrapper {
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 30px;
}
