#nav-top {
	background-color: black !important;
	z-index: 1;
}
nav a {
    color: white;
}

body {
	background-color: #F2F2F2
}
.img_placeholder {
	height: 85%;
}

.img_placeholder > img {
	width: 90%;
	height: 100%;

}

.book-card {
	background-color: white;
	border-radius: 10px;
	box-shadow: 0px 10px 100px lightgrey;
	padding-top: 10px;
	padding-bottom: 10px;
}
.book-card:hover {
	box-shadow: 0px 0px 0px;
	cursor: pointer
}

#book-row-container {
    height: 680px;
}

.row_div {
    background-color: white;
    margin: 10px;
}

.wrapper {
    width: 99%;
}

.rel-books-wrapper {
    background-color: #F2F2F2;
    
}

.book-image {
    width: 100%
}